:root {
  --accent-text: #5CBE3A;
  --general-text: #051101;
  --title-color: #000;
  --transition: all .4s;
  --button-hover-color: #52a336;
}

::-webkit-scrollbar { width: 0;}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--general-text);
  background-color: #fff;
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1525px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
}

.main__header {
  padding-top: 45px;
  padding-bottom: 77px;
  margin-bottom: 118px;
}

.main__products {
  padding-bottom: 125px;
}

.main__video,  .main__started{
  padding-bottom: 175px;
}

.main__shoes, .main__reviews {
  padding-bottom: 275px;
}

.title {
  color: var(--title-color);
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
}

.button {
  display: flex;
  background-color: var(--accent-text);
  color: #FFF;
  max-width: 150px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  z-index: 1;
  transition: all .4s;
}

.button:hover {
  color: #e4e4e4;
  background: var(--button-hover-color);
}

.button-opacity {
  display: flex;
  color: var(--accent-text);
  font-weight: 500;
  border: 1px solid #5cbe3a4d;
  border-radius: 4px;
  max-width: 163px;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all .4s;
}

.button-opacity:hover {
  color: #fff;
  background-color: var(--accent-text);
}